:root{
  --color-first :  #0066fe;
  --color-second :  #fff9f4;
  --color-third :  #f5dd4b;
  --color-fourth :  #41179d;
  --color-five :  #013332;
  --color-five-light :  #01333225;

  --color-mustdo : #008040;
  --color-Moderatelly : #B771E5;
  --color-fun : #1DCD9F;
  --color-delegate : #00bcf034;
  --color-fade : #f5eedc3a;
  --color-light-orange : #ffac4786;
  --color-white : #fff;

}

